<!DOCTYPE html>
<html>
	<head>
		<title> Fudo - World Recipes </title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="page-background">
		<script src='https://unpkg.com/vue'></script>
    	<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/public/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius+Swash+Caps" />	
		<div id='app'>
      		<div id='navBar'></div>
		</div>

    	<script src='/public/index.js' type='text/javascript'></script>	
	</body>
</html>

