<!DOCTYPE html>
<html>
  <head>
    <title> MM - Bacherlor/ette Party </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="page-background">
    <script src="https://unpkg.com/vue"></script>
      <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Metrophobic" />

    <div id="navigation-bar"></div>
    <div class="container-fluid center-p">
      <h2 class="global-font text-center"> Listo / All Done </h2>
      <p class="global-font text-center"> You have been added to the list</p>
      <hr>
      <p class="global-font text-center"> Has sido agregado a la lista</p>
    </div>
    <div id='footer'></div>
    
    <script src="/public/js/vue.js" type="text/javascript"></script>
    <script src="/public/js/payvalidation.js" type="text/javascript"></script>
  </body>
</html>