<!DOCTYPE html>
<html>
	<head>
		<title> MM - Bacherlor/ette Party </title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body class="page-background">
		<script src="https://unpkg.com/vue"></script>
    	<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/public/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Metrophobic" />

		<div id="navigation-bar"></div>
		<div class="container-fluid center-p">
			<h1 class="global-font text-center"> Payment Failed </h1>
			<p class="global-font text-center"> Your payment failed or was cancelled, please try again</p>
			<hr>
			<p class="global-font text-center"> Su pago no pudo ser procesado o lo has cancelado, intentalo otra vez</p>
		</div>
		
    	<script src="/public/js/vue.js" type="text/javascript"></script>
    	<script src="/public/js/payvalidation.js" type="text/javascript"></script>
	</body>
</html>