<!DOCTYPE html>
<html>
	<head>
		<title> MM - Despedida Party </title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="page-background">
		<script src="https://unpkg.com/vue"></script>
    	<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/public/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Metrophobic" />
		<div id="app">
      		<div id="spanish"></div>
		</div>

    	<script src="/public/index.js" type="text/javascript"></script>	
	</body>
</html>

