<!DOCTYPE html>
<html lang="en">
  <head>
    <title> MM - Bacherlor Party </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="page-background">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Metrophobic" />
    
    <h1 class="global-font text-center" style="padding: 40px;"> Wedding Invite </h1>
    <div id="wedding-vid">
      <embed src="/public/mediaplayer.swf?file=weddingVideo.mp4" width="900" height="600" allowfullscreen="true" class="text-center" />
    </div>
    <div id='footer'></div>

  </body>
</html>
