body {
  background-image: url("drank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: 70px;
  letter-spacing: 5px;
}

p{
  font-size: 26px;
}

a{
  color: white;
  font-weight: bold;
}

a:hover{
  color: red;
}

ul.nav-bar{
    list-style-type: none;
    padding: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    padding: 20px;
    z-index: 1;
}

li.nav-bar{
  display: inline;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #555;
  color: white;
}

li.party-features{
  font-size: 20px;
  color: white;
}

table{
  width: 80%;
  margin: auto;
}

.table-border{
  border: 1px solid white;
  padding: 5px;
  margin-bottom: 60px;
}

#payButton{
  margin: auto;
  width: 40%;
}

#welcome{
  padding-top: 300px;
}

#countdown{
  font-size: 70px;
  background-color: black;
  width: 50%;
  height: 80px;
  text-align: center;
  margin-top: 100px;
}

.btn-div{
  display: table;
  margin: auto;
}

.page-background{
	background-color: white;
}

.button-pink{
	background-color: transparent;
  border-color: #8b26c1;
  border-style: solid;
  border-width: 5px;
  float: none;
  display: inline;
  padding: 20px;
  margin: 30px;
  border-radius: 0;
}

.button-pink:hover{
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
}

.hr-index{
  align: center;
  width: 40%;
}

.global-font{
	color: white;	
	font-family: Metrophobic;
}

.button-font{
  font-size: 40px;
}

.nav-link{
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.f-right{
  float: right;
}

.embossed-text, .nav-link:hover{
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  animation: text-flicker 3s linear 0s;
  text-decoration: none;
}

.nav-link:hover{
  background-color: black;
}

.fudo-home{
	font-size: 24px;
}

.party-info{
  padding: 100px;
}

.font-black{
  color: black;
}

.center-p{
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

.padding-bottom-50{
  padding-bottom: 50px;
}

.interac{
  margin: auto;
  width: 40%;
}

a:focus{
	color: black;
}

#offset {
  animation: letter-flicker 2s linear 0s;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  2% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  8% {
    opacity:0.1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  9% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  12% {
    opacity:0.1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  20% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  25% {
    opacity:0.3;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  30% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  70% {
    opacity:0.7;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  72% {
    opacity:0.2;
    text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  77% {
    opacity:.9;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  100% {
    opacity:.9;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  2% {
    opacity:0.1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  4% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  19% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  21% {
    opacity:0.1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  23% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  80% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  83% {
    opacity:0.4;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
  87% {
    opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
  }
