body {
  background-image: url("kermit_index.jpg");
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  background-position: -400px -200px
}

.btn-div{
  display: table;
  margin: auto;
}

.page-background{
	background-color: white;
}
.button-pink{
	background-color: transparent;
  border-color: #8b26c1;
  border-style: solid;
  border-width: 5px;
  float: none;
  display: inline;
  padding: 5px;
  margin: 15px;
  border-radius: 0;
}

.global-font{
	color: #8b26c1;	
	font-family: Metrophobic;
}
.embossed-text{
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8b26c1, 0 0 30px #8b26c1, 0 0 40px #8b26c1, 0 0 55px #8b26c1, 0 0 75px #8b26c1;
}

.fudo-home{
	font-size: 24px;
}
a:hover, a:active{
	color: #49274A;
}
a:focus{
	color: black;
}
